<?xml version="1.0" encoding="utf-8"?>
<LiveUnitTestingConfiguration>
  <Enabled>True</Enabled>
  <Projects>
    <!-- Disable building/instrumenting or running tests by adding a project entry
         with a corresponding property. For example:
         <Project Path="./path/to/Project.csproj"
                  Instrument="False"
                  Build="False"
                  Test="False">
           <SkipTests>
             <Test>Fully.Qualified.Name</Test>
           </SkipTests>
         </Project> -->
    <Project Path="Source\Applications\Caracal.FileConverter.Console\Caracal.FileConverter.Console.csproj" />
    <Project Path="Tests\Applications\Caracal.FileConverter.Console.Tests\Caracal.FileConverter.Console.Tests.csproj" />
    <Project Path="Source\Libraries\Caracal.FileConverter.Parser\Caracal.FileConverter.Parser.csproj" />
    <Project Path="Tests\Libraries\Caracal.FileConverter.Parser.Tests\Caracal.FileConverter.Parser.Tests.csproj" />
  </Projects>
</LiveUnitTestingConfiguration>